#result {
    background: #7bde70;
    display: none;
    text-align: left;
}

.img-logo {
    width: 60px;
    height: 60px;
}

.navbar-brand {
    color: #47555e;
    position: relative;
    display: inline-block;
    font-size: 1.8rem;
}

.navbar-brand::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 0.1rem;
    background-color: #000;
    animation: eternity-loading 2.5s ease-in-out infinite;
}

.navbar-brand:hover {
    color: #4a555bda;
}

.container {
    width: auto;
    max-width: 900px;
    padding: 20px 30px;
    margin-top: 20px;
    border-radius: 10px;
}

@keyframes eternity-loading {
    0% {
        width: 0%;
    }

    50% {
        width: 75%;
    }

    100% {
        width: 0%;
    }
}