.result {
    display: none;
    text-align: left;
    background: #7bde70;
}

.result-dark {
    display: none;
    text-align: left;
    background: #50535a;
}

.img-logo {
    width: 60px;
    height: 60px;
}

.navbar-brand {
    color: #47555e;
    position: relative;
    display: inline-block;
    font-size: 1.8rem;
}

.navbar-brand::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 0.1rem;
    background-color: #000;
    animation: eternity-loading 2.5s ease-in-out infinite;
}

.navbar-brand:hover {
    color: #4a555bda;
}

.container {
    width: auto;
    max-width: 900px;
    padding: 20px 30px;
    margin-top: 20px;
    border-radius: 10px;
}

@keyframes eternity-loading {
    0% {
        width: 0%;
    }

    50% {
        width: 75%;
    }

    100% {
        width: 0%;
    }
}

/* Modal Code */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px; /* Location of the box */
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 40px;
    border: 1px solid #888;
    width: fit-content;
}

#modal-inner {
    margin-bottom: 15px;
}

#precisionInput {
    margin-bottom: 15px;
}

#confirmBtn {
    background-color: green;
    color: white;
}

#confirmBtn:hover {
    color: white;
    background-color: #000;
}